<% provide(:title, 'Help') %>

	<h1> Help </h1>
	<p> Currently, the site has only few static pages. If you find any difficulty in rendering it, please contact the site administrator. Else you are a complete fool who has no expereince dealing with computers </p>
	
